<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
   <!-- Footer -->
   <footer class="text-center text-white" style="background-color: #0c6334">
    <div class="container">
      <section class="mt-5">
        <div class="row text-center d-flex justify-content-center pt-5">
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/home-page" class="text-white">Home</a>
            </h6>
          </div>
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/start-game" class="text-white">SciQuiz</a>
            </h6>
          </div>
          <div class="col-md-3">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/history-page" class="text-white">Science History</a>
            </h6>
          </div>
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/about-us-page" class="text-white">About Us</a>
            </h6>
          </div>
        </div>
      </section>

      <hr class="my-5" />

      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p class="text-justify">
              This application was created by Benji Canones & Vanessa Joyce Monterde with the guidance of Dr. Enrico Chavez. The application was created for the project fulfillment in System Integration and Architecture.
            </p>
          </div>
        </div>
      </section>

      <section class="text-center mb-5">
        <a href="https://github.com/BenjiBenji20" class="text-white me-4">
          <i class="bi bi-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/vanessa-joyce-monterde-4443b82b2/" class="text-white me-4">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://www.instagram.com/vaneeeezza/" class="text-white me-4">
          <i class="bi bi-instagram"></i>
        </a>
      </section>
    </div>

    <div style="background-color: #034521">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a> | 2024 Benji Canones & Vanessa Joyce Monterde
    </div>
  </footer>
</body>
</html>